<p style="color: green"><%= notice %></p>

<h1>Autors</h1>

<div id="autors">
  <% @autors.each do |autor| %>
    <%= render autor %>
    <p>
      <%= link_to "Show this autor", autor %>
    </p>
  <% end %>
</div>

<%= link_to "New autor", new_autor_path %>
