<div id="<%= dom_id comentario %>">
  <p>
    <strong>Nombre:</strong>
    <%= comentario.nombre %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= comentario.texto %>
  </p>

  <p>
    <strong>Articulo:</strong>
    <%= comentario.articulo_id %>
  </p>

</div>
