<h1>Editing comentario</h1>

<%= render "form", comentario: @comentario %>

<br>

<div>
  <%= link_to "Show this comentario", @comentario %> |
  <%= link_to "Back to comentarios", comentarios_path %>
</div>
