<% provide(:titulo, 'Inicio') %>
<div class="card">
  
  <%= image_tag("rails-logo.png", width: 200) %>
  
  <div class="card-body">
    
    <h1 class="card-title">Página de Inicio</h1>
    <p class="card-text">Aplicación para el curso Ruby on Rails</p>
    
  </div>
</div>