<% provide(:titulo, 'Acerca de ...') %>

<div class="card">
  <%= image_tag("rails-logo.png", width: 200) %>
  <div class="card-body">
    <h2 class="card-title">Accerca de ..</h2>
    <p class="card-text">Aplicación realizada con Ruby On Rails</p>

    <div class="container">
        <%= image_tag("github.svg", width: 50) %>
        <%= link_to "Repo en GitHub", "https://github.com/zutjmx/zutjmx-rails-blog-app", target: "_blank", class:"btn btn-info" %>
    </div>
    
    <p>Fecha del sistema: <%= Time.now.strftime("%d-%m-%Y %H:%M") %></p>
  </div>
</div>
