<h1>Articulos</h1>
<p>Lista de artículos</p>

<% @articulos.each do |articulo| %>
    <h2><%= link_to articulo.titulo, articulo %> </h2>
    <p><%= articulo.contenido.truncate_words(10) %></p>
    <p><%= articulo.created_at.strftime("%d-%m-%Y %H:%M") %></p>
<% end %>
